@import "colors";
$ff-main: "Open Sans", sans-serif;
$ff-text: "Open Sans", sans-serif;
$ff-logo: "Luckiest Guy", cursive;
.addresses {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: auto;
  padding-bottom: 2rem;

  &__wrapper {
    width: 80%;
    max-width: 72rem;
    margin: 0 auto;
    display: flex;
    // align-content: center;
    // justify-content: center;
    flex-wrap: wrap;
  }

  &__top {
    // border-top: 1px solid #ededed;
    // border-bottom: 1px solid #ededed;
    // background-color: white;
    // box-shadow: 0px 8px 8px -9px rgba(0, 0, 0, 0.23);
    // width: 100%;
    padding: 1.5rem 2rem 1rem 2rem;
    // justify-content: flex-start;

    &--title {
      width: 100%;
      color: $light-blue;
      font-family: $ff-text;
      font-weight: 700;
      font-size: 1rem;
      line-height: 22px;
      letter-spacing: -0.01em;
      @media (max-width: 20em) {
        //Less than 320px
      }
      @media (min-width: 43.75em) {
        //700px
        font-size: 2rem;
      }
      @media (min-width: 62em) {
        //992px
        // line-height: 65px;
        padding: 1.5rem;
      }
      @media (min-width: 83em) {
        //1392
        // font-size: 3rem;
      }
    }
    span {
      // padding-left: 0.5rem;
      display: inline;
      font-size: 0.875rem; //14px
      font-weight: 400;
      padding-left: 0.5rem;

      color: #6c6c6c;
      @media (max-width: 20em) {
        //Less than 320px
      }
      @media (min-width: 43.75em) {
        //700px

        // padding-left: 0.5rem;
        font-size: 1.2rem;
      }
      @media (min-width: 62em) {
        //992px
        font-size: 1.3rem;
        padding-left: 0.5rem;
      }
      @media (min-width: 83em) {
        //1392
        // font-size: 3rem;
      }
    }
  }
  &__bottom {
    background-color: #e6f4f7;
    border: 1px solid rgba(205, 205, 205, 0.09);
    border-radius: 20px;
    width: 100%;
    height: auto;
    justify-content: space-between;
    @media (min-width: 43.75em) {
      //700px
      padding-right: 2rem;
      font-size: 2rem;
    }
    @media (min-width: 62em) {
      //992px
      padding-right: 3rem;
    }
    @media (min-width: 83em) {
      //1392
      padding-right: 3rem;
    }

    &--map {
      width: 100%;
      min-width: 188px;
      display: flex;
      justify-content: flex-end;
      padding: 1rem 0;

      @media (max-width: 20em) {
        //Less than 320px
        width: 100%;
      }
      @media (min-width: 43.75em) {
        //700px
        width: 50%;
      }
      @media (min-width: 62em) {
        //992px

        width: 40%;
      }
      @media (min-width: 83em) {
        //1392
        width: 45%;
        // padding-right: 2rem;
      }
    }
    &--map iframe {
      width: 100%;
      height: 350px;
      border: 0;
      @media (max-width: 20em) {
        //Less than 320px
        width: 100%;
        height: 250px;
      }
      @media (min-width: 43.75em) {
        //700px
        border-radius: 350px;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      @media (min-width: 62em) {
        //992px
        height: auto;
      }
      @media (min-width: 83em) {
        //1392
      }
    }

    &--list {
      width: 80%;
      height: auto;
      flex-direction: column;
      flex-wrap: wrap;
      align-self: center;
      padding: 2rem 0 2rem 2rem;
      color: $dark-gray;
      list-style-type: none;

      font-family: $ff-text;
      font-style: normal;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 2;
      text-align: left;
      @media (max-width: 20em) {
        //Less than 320px
        line-height: 1.5;
        width: 90%;
      }
      @media (min-width: 43.75em) {
        //700px
        width: 50%;
        font-size: 1rem;
      }
      @media (min-width: 62em) {
        //992px
        font-size: 1.5rem;
        width: 50%;
      }
      @media (min-width: 83em) {
        //1392
        // padding: 3rem ;
        font-size: 1.75rem;
      }
    }
    &--city {
      color: #89a9b0;
      list-style-type: none;
    }
  }
}
