@import "colors";
@import "typography";

.direccion{
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    max-width: 73.563rem;

    
    &__title{
        color: $light-blue;
        font-family: $ff-main;
        text-transform: uppercase;
        z-index: 1;
    
    }
    &__pin{
        margin-top: -3rem;
        margin-left: -7rem;
        

    }
    &__lista{
        color: $dark-gray;

        font-family: $ff-text;
        font-style: normal;

        font-weight: 700;
        font-size: 0.875rem;
        line-height: 2;
        text-align: left;

        
        
    }
}