.menu {
  margin: 0 auto;
  padding-top: 1rem;
  height: auto;
  width: 100%;

  &__wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 72rem;
  }
  &__title {
    padding: 1.5rem 0 1rem 0;

    &--text {
      width: 85%;
      // display: flex;
      color: $light-blue;
      font-family: $ff-text;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.01em;
      @media (max-width: 20em) {
        //Less than 320px
      }
      @media (min-width: 43.75em) {
        //700px
        font-size: 2rem;
      }
      @media (min-width: 62em) {
        //992px
        padding: 1.5rem;
      }
      @media (min-width: 83em) {
        //1392
      }
      span {
        display: inline;
        font-size: 14px;
        font-weight: 400;
        padding-left: 0.1rem;
        color: #6c6c6c;
        @media (max-width: 20em) {
          //Less than 320px
        }
        @media (min-width: 43.75em) {
          //700px
          font-size: 1.2rem;
        }
        @media (min-width: 62em) {
          //992px
          font-size: 1.3rem;
        }
        @media (min-width: 83em) {
          //1392
        }
      }
    }
  }
  &__containers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    place-content: center;
    text-align: center;
    z-index: -1;
    @media (max-width: 20em) {
      //px 320
      grid-template-columns: 1fr;
      gap: 1rem;
    }

    @media (min-width: 43.75em) {
      //700px
      gap: 1rem;
      width: 40.381rem;
      height: 84.821rem;
    }

    @media (min-width: 62em) {
      //992px
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.375rem;
      width: 40.381rem;
      height: auto;
    }

    @media (min-width: 83em) {
      //1392
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.813rem;
      padding: 0;
      width: 100%;
      height: auto;
    }
  }
  &__container {
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 1rem 0;

    @media (min-width: 43.75em) {
      //700px
      border: 1px solid #ededed;
      padding-top: 0.5rem;
      padding-bottom: 0.813rem;
      width: 19.572rem;
      height: 19.393rem;
    }

    @media (min-width: 62em) {
      //992px
      width: 17.925rem;
      height: 17.083;
      transition: transform 0.15s;
      &:hover {
        border: 1px solid #cdcdcd;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

        transform: scale(1.01);
      }
    }

    @media (min-width: 83em) {
      //1392
      width: 23.313rem;
      height: 22.716rem;
    }
    &--images {
      display: block;
      margin: 0 auto;
      width: 98%;
      height: auto;
      width: 9.824rem;
      height: 9.15rem;
      @media (min-width: 43.75em) {
        //700px
        width: 16.459rem;
        height: 15.33rem;
      }
      @media (min-width: 62em) {
        //992px
        width: 13.39rem;
        height: 12.471rem;
      }
      @media (min-width: 83em) {
        //1392
        width: 18.55rem;
        height: 17.278rem;
      }
    }

    &--name {
      color: #6c6c6c;
      font-family: $ff-main;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: -0.015em;

      @media (min-width: 43.75em) {
        //700px
        font-size: 1.5rem;
        padding-bottom: 1rem;
      }
      @media (min-width: 62em) {
        //992px
        font-size: 1.7rem;
        padding-top: 0.5rem;
        padding-bottom: 0.8rem;
      }
      @media (min-width: 83em) {
        //1392
        font-size: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
      }
    }
  }
}
