@import "colors";
$ff-main: "Open Sans", sans-serif;
$ff-text: "Open Sans", sans-serif;
$ff-logo: "Luckiest Guy", cursive;
.popup-images {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(0);
  transition: 400ms ease-in-out;
  place-content: center;
  z-index: 10;
  animation: 400ms opacityAnimationOut ease-out; //to be tested*
  @media (max-width: 20em) {
    //px 320
  }

  @media (min-width: 43.75em) {
    //700px
  }

  @media (min-width: 62em) {
    //992px
  }

  @media (min-width: 83em) {
    //1392px
  }
}
.popup-images.active {
  display: grid;
  transform: translate(-50%, -50%) scale(1);
  z-index: 11;
  animation: 400ms opacityAnimationIn ease-in;
}

.container {
  z-index: 111;
  margin: 0 auto;
  min-width: 50%;
  width: 16rem; //256px
  height: auto;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 6.5% 1fr 6.5%;
  justify-content: center;
  background: #ffffff;
  border: 3px solid #04c3ff;
  border-radius: 15px;
  @media (max-width: 20em) {
    //px 320
    width: 80%;
    height: 100%;
  }

  @media (min-width: 43.75em) {
    //700px
    width: 21.875rem; //350px
  }

  @media (min-width: 62em) {
    //992px
    width: 23.125rem; //370px
    max-width: 661px;
  }

  @media (min-width: 83em) {
    //1392px
    // max-height: 590px;
  }

  &__button {
    cursor: pointer;
    grid-column: 3/4;
    font-weight: bold;
    font-size: 1.8rem;
    border: none;
    outline: none;
    background: none;
    color: #00a5d9;
    width: 100%;
    height: 100%;
    &:hover {
      color: #e78c03;
    }
  }
  &__img {
    grid-column: 2/3;
    width: 100%;
    height: 100%;

    &--image {
      display: block;
      margin: 0 auto;
      width: 95%;
      height: 90%;
    }
  }
  &__text {
    grid-column: 2/3;
    width: 100%;
    height: auto;
    display: grid;
    place-content: center;
    text-align: center;
    padding-bottom: 5%;

    &--name {
      font-family: $ff-text;
      font-style: normal;
      font-weight: 700;
      line-height: 19px;
      letter-spacing: -0.04em;
      font-size: 1.3rem;
      color: #00a5d9;

      @media (min-width: 43.75em) {
        font-size: 1.5rem;
        //700px
      }

      @media (min-width: 62em) {
        font-size: 1.6rem;
        //992px
      }

      @media (min-width: 83em) {
        //1392px
      }
    }
    &--description {
      font-family: $ff-text;
      font-style: normal;
      font-weight: 400;
      font-size: 0.938rem; //14px
      line-height: 120.5%;
      color: #696969;
      padding: 5%;
      @media (min-width: 43.75em) {
        font-size: 1.125rem;
        //700px
      }

      @media (min-width: 62em) {
        //992px
      }

      @media (min-width: 83em) {
        //1392px
        font-size: 1.3rem;
      }
    }
  }
}
#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 150ms ease-in-out;
  backdrop-filter: blur(9px);
  filter: blur(9px);
  z-index: 9;
  background: rgba(45, 57, 57, 0.6);
  pointer-events: none;
}
#overlay.active {
  pointer-events: all;
  opacity: 1;
  filter: blur(1px);
  backdrop-filter: blur(1px);
}
@keyframes opacityAnimationIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityAnimationOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
