@import "colors";
@import "typography";
@import "media-queries";

.navbar {
  background: repeating-linear-gradient(
    0deg,
    $dark-blue 0px,
    $dark-blue 40px,
    $orange 40px,
    $orange 80px,
    $light-orange 80px,
    $light-orange 120px
  );
  height: 7.5em;
  display: grid;
  //padding: 0.1rem;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  place-items: center;


  &__logo {
    grid-column: span 3;
    padding-top: 0.5rem;
    margin: 0 auto;
    
    &--name{
      color: $blue-title;
      font-size: 2rem;
      font-family: $ff-logo;
      font-weight: 400;
      text-decoration: none;
      position: absolute;
      z-index: 1;
      text-shadow: 0px 20px 40px rgb(44, 44, 44);
  
      // background-image: url(../images/logo-shade.svg);
      // background-repeat: no-repeat;
      // background-size: 100%;
      // background-position: 100% 100%;
      
    }
    &--shade{
      position: relative;
      margin: 0 auto;
      height: 2.5rem;
      width: auto;
      border: 1px solid #CDCDCD;
    }

  }
  &__options {
    color: $orange;
    font-size: 1.25rem;
    text-decoration: none;
    font-family: $ff-main;
    font-weight: 400;
    text-shadow: 0px 1px 3px rgb(15, 15, 15);
    
    }
}
