.navbar {
  width: 100%;
  padding: 1rem;
  &__wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 65% 35%;
    width: 100%;
    height: 7.5em;
    max-width: 73.563rem;
    @media (min-width: 62em) {
      //992px
      width: 85%;
      max-width: 73.563rem;
      display: grid;
      grid-template-columns: 60% 40%;
    }
    @media (min-width: 83em) {
      //1392
    }
  }

  &__logo {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    place-items: center;

    @media (min-width: 62em) {
      //992px
      font-size: 3rem;
      justify-items: flex-start;
      align-items: center;
    }

    &--name {
      grid-row-start: 1;
      grid-column-start: 2;
      color: $blue-title;
      font-family: $ff-logo;
      font-weight: 400;
      font-size: 32px;
      line-height: 32px;
      animation: 2s animationLogoName ease-in;
      @media (min-width: 43.75em) {
        //700px
        font-size: 2.5rem;
      }
      @media (min-width: 62em) {
        //992px
        grid-column: span 3;
        padding-top: 0.6rem;
        font-size: 3rem;
        animation: 200ms animationLogoName ease-in-out;
      }
    }
    &--hamburger {
      cursor: pointer;
      grid-column-start: 3;

      @media (min-width: 62em) {
        //992px
        display: none;
      }
    }
  }
  // hamburger icon and bars
  &--hamburger,
  .bar1,
  .bar2,
  .bar3 {
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background-color: $dark-blue;
    margin: 4px 0;
    transition: 0.2s ease-in-out;
    @media (min-width: 62em) {
      //992px
      display: none;
    }
  }
  &--hamburger,
  .change .bar1 {
    background-color: $blue-title;
    transform: translate(0, 8px) rotate(-45deg);
  }
  &--hamburger,
  .change .bar2 {
    background-color: $blue-title;
    opacity: 0;
  }
  &--hamburger,
  .change .bar3 {
    background-color: $blue-title;
    transform: translate(0, -8px) rotate(45deg);
  }

  // links under navbar
  &__options {
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    grid-row-start: 2;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    animation: 300ms animationNavbar ease-in;

    @media (min-width: 62em) {
      //992px
      border: none;
      box-shadow: none;
      display: grid !important;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;
      gap: 0.5rem;
      grid-column-start: 2;
      grid-row-start: 1;
    }
    @media (min-width: 83em) {
      //1392
      display: grid !important;
    }
    a {
      color: $text-gray;
      text-decoration: none;
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
      padding: 0.5rem;
      transition: 0.4s;
      &:hover {
        color: $dark-gray;
      }
      @media (min-width: 43.75em) {
        //700px
      }
      @media (min-width: 62em) {
        //992px
        font-size: 1.3rem;
        transition: transform 0.25s;
        transform: scale(0.95);
        &:hover {
          display: grid;
          place-content: center;
          background: #00a6a6;
          border-radius: 24.5px;
          color: white;
          transform: scale(1.01);
        }
      }
      @media (min-width: 83em) {
        //1392
        font-size: 1.4rem;
      }
    }
  }
}

@keyframes animationNavbar {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animationLogoName {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  25% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
