@import "colors";
@import "typography";

.welcome {
  display: flex;
  flex-wrap: wrap;
  //align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  width: 95%;
  margin: 0 auto;

  @media (min-width: 43.75em){ //700px
      width: 95%;
  }

  @media (min-width: 62em){ //992px
      width: 85%;
  }

  @media (min-width: 83em){ //1392
      width: 80rem;
  }

  &__message {
      // flex: 1;
      //border: 1px solid #ffffff;
      justify-content: center;
      padding-bottom: 5%;
      padding-top: 5%;
      position: relative;
      z-index: 1;
      left: 10px;
      
     h1 {
      font-family: $ff-logo;
      font-style: normal;
      font-weight: 400;
      font-size: 7.22vw;  //1.45rem
      
      color: $orange;
  
      span {
        color: $light-blue;
        font-family: $ff-logo;
        //display: block;
      }
    }
    a {
      font-size: 0.9rem;
      font-family: $ff-text;
      font-weight: 300;
      color: $text-gray; 
    }

    @media (min-width: 43.75em){ //700px
      a{font-size: 1.3rem;}
      }
  
      @media (min-width: 62em){ //992px
         h1{ font-size: 5.5vw; }
         a{font-size: 1.5rem;       } 
      }
  
      @media (min-width: 83em){ //1392
        h1{ font-size: 5.7rem; } 
        a{font-size: 2rem;}
      }
  }


  &__image {
        
    &--hero-img{
      
    display: block;
    margin: 0 auto;
    
    width: 40.556vw;
    left: auto;

    @media (min-width: 43.75em){ //700px
    width: 35vw;
    }

    @media (min-width: 62em){ //992px
        width: 25vw;
    }

    @media (min-width: 83em){ //1392
        width: 25rem;
    }
    }
  }
}


// .welcome > * {
//   flex: 1;
// }