@import "variables";
@import "navbar";
@import "welcome";
@import "menu";
@import "menu-popups";
@import "direccion";
@import "contactos";

html {
  box-sizing: border-box;
  html {
    font-family: "Open Sans", sans-serif;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 0;
  padding: 0;
  animation: 700ms pageLoad ease-in;
}
body {
  margin: 0;
}

.animation {
  @keyframes pageLoad {
    0% {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-5px);
    }
    10% {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-5px);
    }
    100% {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}
