@import "navbar";
@import "welcome";
@import "menu";
@import "menu-popups";
@import "direccion";
@import "contactos";

html {
  box-sizing: border-box;
  html {
    font-family: "Passion One", cursive;
  }
  // width: 100%;
  // overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 0;
  padding: 0;
  // background-image:url(../images/Vector12.svg), url(../images/Vector13.svg);
  // background-repeat: no-repeat;
  // background-size: 65%;
  // background-position: -100% 45%, 190% 55%;
}
body {
  margin: 0;
}
