.navbar {
  background: repeating-linear-gradient(0deg, #145364 0px, #145364 40px, #fd703b 40px, #fd703b 80px, #fd703b 80px, #fd703b 120px);
  -webkit-box-shadow: inset 4px 4px 52px rgba(0, 0, 0, 0.29);
          box-shadow: inset 4px 4px 52px rgba(0, 0, 0, 0.29);
  width: 100%;
}

.navbar__wrapper {
  text-align: center;
  place-items: center;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 7.5em;
  max-width: 73.563rem;
}

.navbar__logo {
  grid-column: span 3;
  padding-top: 0.5rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo--name {
  color: #007d97;
  font-size: 2rem;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  text-decoration: none;
  position: absolute;
  z-index: 1;
}

@media (min-width: 43.75em) {
  .navbar__logo--name {
    font-size: 2.5rem;
  }
}

@media (min-width: 62em) {
  .navbar__logo--name {
    font-size: 3rem;
  }
}

.navbar__logo--shade {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 9.563rem;
  height: 3rem;
  left: -4px;
  top: 15px;
}

@media (min-width: 43.75em) {
  .navbar__logo--shade {
    top: 17px;
  }
}

@media (min-width: 62em) {
  .navbar__logo--shade {
    width: 12.563rem;
    top: 20px;
  }
}

.navbar__options {
  color: #fd703b;
  font-size: 1.25rem;
  text-decoration: none;
  font-family: "Passion One", cursive;
  font-weight: 400;
}

@media (min-width: 62em) {
  .navbar__options {
    font-size: 1.3rem;
  }
}

@media (min-width: 83em) {
  .navbar__options {
    font-size: 1.4rem;
  }
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 43.75em) {
  .welcome {
    width: 95%;
  }
}

@media (min-width: 62em) {
  .welcome {
    padding: 5rem 0;
    width: 85%;
  }
}

@media (min-width: 83em) {
  .welcome {
    padding: 7rem 0;
    width: 80rem;
  }
}

.welcome__message {
  padding-top: 1.5rem;
  padding-bottom: 5% 0%;
  position: relative;
  z-index: 1;
  left: 10px;
}

.welcome__message h1 {
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 7.9vw;
  color: #fd703b;
}

.welcome__message h1 span {
  color: #07A3D3;
  font-family: "Luckiest Guy", cursive;
}

.welcome__message a {
  font-size: 0.95rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  color: #6c6c6c;
}

@media (min-width: 43.75em) {
  .welcome__message h1 {
    font-size: 7.22vw;
  }
  .welcome__message a {
    font-size: 1.3rem;
  }
}

@media (min-width: 62em) {
  .welcome__message h1 {
    font-size: 5vw;
  }
  .welcome__message a {
    font-size: 1.5rem;
  }
}

@media (min-width: 83em) {
  .welcome__message h1 {
    font-size: 5.5rem;
  }
  .welcome__message a {
    font-size: 2rem;
  }
}

.welcome__image--hero-img {
  display: block;
  margin: 0 auto;
  width: 40.956vw;
  left: auto;
}

@media (min-width: 43.75em) {
  .welcome__image--hero-img {
    width: 35vw;
  }
}

@media (min-width: 62em) {
  .welcome__image--hero-img {
    width: 25vw;
  }
}

@media (min-width: 83em) {
  .welcome__image--hero-img {
    width: 25rem;
  }
}

.menu {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.menu__wrapper {
  margin: 0 auto;
  width: 95%;
  max-width: 73.563rem;
}

@media (min-width: 62em) {
  .menu__wrapper {
    font-size: 1.5rem;
    width: 85%;
  }
}

.menu__title {
  border: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  background-color: white;
  -webkit-box-shadow: 0px 8px 8px -9px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 8px 8px -9px rgba(0, 0, 0, 0.23);
  width: 100%;
  padding: 0.5rem 0;
}

.menu__title--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  color: #07A3D3;
  font-family: "Passion One", cursive;
  font-style: normal;
  font-weight: 400;
  width: 100%;
}

@media (min-width: 43.75em) {
  .menu__title--text {
    font-size: 2rem;
  }
}

@media (min-width: 62em) {
  .menu__title--text {
    font-size: 2.5rem;
  }
}

@media (min-width: 83em) {
  .menu__title--text {
    font-size: 3rem;
  }
}

.menu__containers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1vw;
  place-content: center;
  text-align: center;
  z-index: -1;
  padding: 2rem 0;
}

@media (max-width: 20em) {
  .menu__containers {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 4vw;
  }
}

@media (min-width: 43.75em) {
  .menu__containers {
    gap: 3vw;
  }
}

@media (min-width: 62em) {
  .menu__containers {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 1.375rem;
  }
}

@media (min-width: 83em) {
  .menu__containers {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 1.813rem;
    padding: 3rem 0;
  }
}

.menu__container {
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  padding-top: 0.5rem;
  padding-bottom: 0.813rem;
}

@media (min-width: 43.75em) {
  .menu__container {
    border: 1px solid #EDEDED;
  }
}

.menu__container--images {
  display: block;
  margin: 0 auto;
  width: 98%;
  height: auto;
}

@media (min-width: 43.75em) {
  .menu__container--images {
    width: 80%;
  }
}

@media (min-width: 83em) {
  .menu__container--images {
    width: 18.55rem;
    height: 17.278rem;
  }
}

.menu__container--name {
  color: #6c6c6c;
  font-family: "Passion One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
}

@media (min-width: 43.75em) {
  .menu__container--name {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 62em) {
  .menu__container--name {
    font-size: 1.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
  }
}

@media (min-width: 83em) {
  .menu__container--name {
    font-size: 2.25rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
}

.addresses {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: auto;
}

.addresses__wrapper {
  width: 80%;
  max-width: 73.563rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.addresses__top {
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  background-color: white;
  -webkit-box-shadow: 0px 8px 8px -9px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 8px 8px -9px rgba(0, 0, 0, 0.23);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  padding: 0.625rem 0;
}

.addresses__top--title {
  color: #07A3D3;
  font-family: "Passion One", cursive;
  font-style: normal;
  font-weight: 400;
  width: 100%;
}

@media (min-width: 43.75em) {
  .addresses__top--title {
    font-size: 2rem;
  }
}

@media (min-width: 62em) {
  .addresses__top--title {
    font-size: 2.5rem;
  }
}

@media (min-width: 83em) {
  .addresses__top--title {
    font-size: 3rem;
  }
}

.addresses__bottom {
  background-color: #E6F4F7;
  z-index: -1;
  width: 100%;
  padding-left: 0.5rem;
}

.addresses__bottom--list {
  padding: 2rem 0;
  color: #444444;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 2;
  text-align: left;
  margin: 0 auto;
  width: 80%;
  height: auto;
}

@media (max-width: 20em) {
  .addresses__bottom--list {
    line-height: 1.5;
    width: 90%;
  }
}

@media (min-width: 43.75em) {
  .addresses__bottom--list {
    font-size: 1rem;
  }
}

@media (min-width: 62em) {
  .addresses__bottom--list {
    font-size: 1.5rem;
    width: 75%;
  }
}

@media (min-width: 83em) {
  .addresses__bottom--list {
    padding: 3rem 0;
    font-size: 1.75rem;
  }
}

.contactos {
  background-color: #145364;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
}

.contactos__wrapper {
  max-width: 73.563rem;
  width: 45%;
}

.contactos__wrapper--title {
  color: white;
  font-family: "Passion One", cursive;
  font-size: 1.45rem;
  font-style: normal;
  font-weight: 400;
  line-height: 122%;
  text-align: center;
  padding-bottom: 1rem;
}

@media (min-width: 43.75em) {
  .contactos__wrapper--title {
    font-size: 2rem;
  }
}

@media (min-width: 62em) {
  .contactos__wrapper--title {
    font-size: 2.5rem;
  }
}

@media (min-width: 83em) {
  .contactos__wrapper--title {
    font-size: 3rem;
  }
}

.contactos__wrapper--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contactos__wrapper--icons-img {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=styles.css.map */