.navbar {
  width: 100%;
  padding: 1rem;
}
.navbar__wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 65% 35%;
  width: 100%;
  height: 7.5em;
  max-width: 73.563rem;
}
@media (min-width: 62em) {
  .navbar__wrapper {
    width: 85%;
    display: grid;
    grid-template-columns: 60% 40%;
    max-width: 73.563rem;
  }
}
.navbar__logo {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 85%;
  place-items: center;
}
@media (min-width: 62em) {
  .navbar__logo {
    font-size: 3rem;
    place-items: center start;
  }
}
.navbar__logo--hamburguer {
  display: block;
  width: 32px;
  height: 18.9px;
}
@media (min-width: 62em) {
  .navbar__logo--hamburguer {
    display: none;
  }
}
.navbar__logo--name {
  grid-column: span 3;
  display: block;
  color: #0495b2;
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  position: absolute;
  z-index: 1;
}
@media (min-width: 43.75em) {
  .navbar__logo--name {
    font-size: 2.5rem;
  }
}
@media (min-width: 62em) {
  .navbar__logo--name {
    font-size: 3rem;
  }
}
.navbar__options {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  grid-row-start: 2;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  -webkit-animation: 300ms animationNavbar ease-in;
          animation: 300ms animationNavbar ease-in;
}
@media (min-width: 62em) {
  .navbar__options {
    border: none;
    box-shadow: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 0.5rem;
    grid-column-start: 2;
    grid-row-start: 1;
  }
}
.navbar__options a {
  color: #484848;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  padding: 0.5rem;
}
@media (min-width: 62em) {
  .navbar__options a {
    font-size: 1.3rem;
  }
  .navbar__options a:hover {
    display: grid;
    place-content: center;
    background: #00a6a6;
    border-radius: 24.5px;
    color: white;
  }
}
@media (min-width: 83em) {
  .navbar__options a {
    font-size: 1.4rem;
  }
}

@-webkit-keyframes animationNavbar {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animationNavbar {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
.welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 73.563rem;
  width: 95%;
  margin: 0 auto;
  margin-top: 3rem;
  background: #f5f5f5;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  border-radius: 22px;
}
@media (min-width: 37.5em) {
  .welcome {
    padding: 1rem 0;
    width: 95%;
  }
}
@media (min-width: 62em) {
  .welcome {
    width: 85%;
    justify-content: space-between;
    padding: 0 6rem;
  }
}
@media (min-width: 83em) {
  .welcome {
    justify-content: space-between;
    padding: 0 6rem;
    margin-top: 7rem;
    margin-bottom: 5rem;
    width: 80rem;
  }
}
.welcome__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
  z-index: 1;
}
.welcome__message h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3em;
  letter-spacing: -0.015em;
  font-size: 7.222vw;
  color: #1ba4a4;
}
.welcome__message h1 span {
  font-weight: 700;
}
.welcome__message a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13.5px;
  color: #484848;
}
.welcome__message a span {
  font-weight: 600;
}
@media (min-width: 37.5em) {
  .welcome__message h1 {
    font-size: 7.22vw;
  }
  .welcome__message a {
    font-size: 1.3rem;
  }
}
@media (min-width: 62em) {
  .welcome__message h1 {
    font-size: 5vw;
  }
  .welcome__message a {
    font-size: 1.5rem;
  }
}
@media (min-width: 83em) {
  .welcome__message h1 {
    font-size: 5.5rem;
  }
  .welcome__message a {
    font-size: 2rem;
  }
}
.welcome__image {
  margin: -4% 0 -5px 0;
}
.welcome__image--hero-img {
  top: -30px;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 41vw;
}
@media (min-width: 37.5em) {
  .welcome__image--hero-img {
    width: 35vw;
  }
}
@media (min-width: 62em) {
  .welcome__image--hero-img {
    width: 25vw;
  }
}
@media (min-width: 83em) {
  .welcome__image--hero-img {
    width: 25rem;
  }
}

.menu {
  margin: 0 auto;
  padding-top: 1rem;
  height: auto;
  width: 100%;
}
.menu__wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 73.563rem;
}
.menu__title {
  justify-content: flex-start;
  padding: 1.5rem 2rem 1rem 2rem;
}
.menu__title--text {
  width: 85%;
  color: #07a3d3;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.01em;
}
@media (min-width: 43.75em) {
  .menu__title--text {
    font-size: 2rem;
  }
}
@media (min-width: 62em) {
  .menu__title--text {
    padding: 1.5rem;
  }
}
.menu__title--text span {
  display: inline;
  font-size: 14px;
  font-weight: 400;
  padding-left: 0.1rem;
  color: #6c6c6c;
}
@media (min-width: 43.75em) {
  .menu__title--text span {
    font-size: 1.2rem;
  }
}
@media (min-width: 62em) {
  .menu__title--text span {
    font-size: 1.3rem;
  }
}
.menu__containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
  place-content: center;
  text-align: center;
  z-index: -1;
}
@media (max-width: 20em) {
  .menu__containers {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
@media (min-width: 43.75em) {
  .menu__containers {
    gap: 1rem;
    width: 40.381rem;
    height: 84.821rem;
  }
}
@media (min-width: 62em) {
  .menu__containers {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.375rem;
    width: 40.381rem;
    height: auto;
  }
}
@media (min-width: 83em) {
  .menu__containers {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.813rem;
    padding: 0;
    width: 100%;
    height: auto;
  }
}
.menu__container {
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 1rem 0;
}
@media (min-width: 43.75em) {
  .menu__container {
    border: 1px solid #ededed;
    padding-top: 0.5rem;
    padding-bottom: 0.813rem;
    width: 19.572rem;
    height: 19.393rem;
  }
}
@media (min-width: 62em) {
  .menu__container {
    width: 17.925rem;
    height: 17.083;
    transition: transform 0.15s;
  }
  .menu__container:hover {
    border: 1px solid #cdcdcd;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.01);
  }
}
@media (min-width: 83em) {
  .menu__container {
    width: 23.313rem;
    height: 22.716rem;
  }
}
.menu__container--images {
  display: block;
  margin: 0 auto;
  width: 98%;
  height: auto;
  width: 9.824rem;
  height: 9.15rem;
}
@media (min-width: 43.75em) {
  .menu__container--images {
    width: 80%;
    width: 16.459rem;
    height: 15.33rem;
  }
}
@media (min-width: 62em) {
  .menu__container--images {
    width: 13.39rem;
    height: 12.471rem;
  }
}
@media (min-width: 83em) {
  .menu__container--images {
    width: 18.55rem;
    height: 17.278rem;
  }
}
.menu__container--name {
  color: #6c6c6c;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.015em;
}
@media (min-width: 43.75em) {
  .menu__container--name {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 62em) {
  .menu__container--name {
    font-size: 1.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
  }
}
@media (min-width: 83em) {
  .menu__container--name {
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
}

.popup-images {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(0);
  transition: 400ms ease-in-out;
  place-content: center;
  z-index: 10;
  -webkit-animation: 400ms opacityAnimationOut ease-out;
          animation: 400ms opacityAnimationOut ease-out;
}
.popup-images.active {
  display: grid;
  transform: translate(-50%, -50%) scale(1);
  z-index: 11;
  -webkit-animation: 400ms opacityAnimationIn ease-in;
          animation: 400ms opacityAnimationIn ease-in;
}

.container {
  z-index: 111;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 6.5% 1fr 6.5%;
  justify-content: center;
  background: #ffffff;
  border: 3px solid #04c3ff;
  border-radius: 15px;
}
@media (max-width: 20em) {
  .container {
    width: 80%;
  }
}
@media (min-width: 43.75em) {
  .container {
    width: 60%;
  }
}
@media (min-width: 62em) {
  .container {
    max-width: 661px;
  }
}
.container__button {
  cursor: pointer;
  grid-column: 3/4;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background: none;
  color: #00a5d9;
  width: 100%;
  height: 100%;
}
.container__button:hover {
  color: #e78c03;
}
.container__img {
  grid-column: 2/3;
  width: 100%;
  height: 100%;
}
.container__img--image {
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 90%;
}
.container__text {
  grid-column: 2/3;
  width: 100%;
  height: auto;
  display: grid;
  place-content: center;
  text-align: center;
  padding-bottom: 5%;
}
.container__text--name {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.04em;
  font-size: 1.3rem;
  color: #00a5d9;
}
@media (min-width: 43.75em) {
  .container__text--name {
    font-size: 1.5rem;
  }
}
@media (min-width: 62em) {
  .container__text--name {
    font-size: 1.6rem;
  }
}
.container__text--description {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 120.5%;
  color: #696969;
  padding: 5%;
}
@media (min-width: 43.75em) {
  .container__text--description {
    font-size: 1.125rem;
  }
}
@media (min-width: 83em) {
  .container__text--description {
    font-size: 1.3rem;
  }
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 150ms ease-in-out;
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  filter: blur(9px);
  z-index: 9;
  background: rgba(45, 57, 57, 0.6);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
  filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

@-webkit-keyframes opacityAnimationIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityAnimationIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacityAnimationOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacityAnimationOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.addresses {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}
.addresses__wrapper {
  width: 80%;
  max-width: 72rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.addresses__top {
  padding: 1.5rem 2rem 1rem 2rem;
}
.addresses__top--title {
  width: 100%;
  color: #07a3d3;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: -0.01em;
}
@media (min-width: 43.75em) {
  .addresses__top--title {
    font-size: 2rem;
  }
}
@media (min-width: 62em) {
  .addresses__top--title {
    padding: 1.5rem;
  }
}
.addresses__top span {
  display: inline;
  font-size: 0.875rem;
  font-weight: 400;
  padding-left: 0.5rem;
  color: #6c6c6c;
}
@media (min-width: 43.75em) {
  .addresses__top span {
    font-size: 1.2rem;
  }
}
@media (min-width: 62em) {
  .addresses__top span {
    font-size: 1.3rem;
    padding-left: 0.5rem;
  }
}
.addresses__bottom {
  background-color: #e6f4f7;
  border: 1px solid rgba(205, 205, 205, 0.09);
  border-radius: 20px;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
@media (min-width: 43.75em) {
  .addresses__bottom {
    padding-right: 2rem;
    font-size: 2rem;
  }
}
@media (min-width: 62em) {
  .addresses__bottom {
    padding-right: 3rem;
  }
}
@media (min-width: 83em) {
  .addresses__bottom {
    padding-right: 3rem;
  }
}
.addresses__bottom--map {
  width: 100%;
  min-width: 188px;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}
@media (max-width: 20em) {
  .addresses__bottom--map {
    width: 100%;
  }
}
@media (min-width: 43.75em) {
  .addresses__bottom--map {
    width: 50%;
  }
}
@media (min-width: 62em) {
  .addresses__bottom--map {
    width: 40%;
  }
}
@media (min-width: 83em) {
  .addresses__bottom--map {
    width: 45%;
  }
}
.addresses__bottom--map iframe {
  width: 100%;
  height: 350px;
  border: 0;
}
@media (max-width: 20em) {
  .addresses__bottom--map iframe {
    width: 100%;
    height: 250px;
  }
}
@media (min-width: 43.75em) {
  .addresses__bottom--map iframe {
    border-radius: 350px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
@media (min-width: 62em) {
  .addresses__bottom--map iframe {
    height: auto;
  }
}
.addresses__bottom--list {
  width: 80%;
  height: auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  padding: 2rem 0 2rem 2rem;
  color: #444444;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 2;
  text-align: left;
}
@media (max-width: 20em) {
  .addresses__bottom--list {
    line-height: 1.5;
    width: 90%;
  }
}
@media (min-width: 43.75em) {
  .addresses__bottom--list {
    width: 50%;
    font-size: 1rem;
  }
}
@media (min-width: 62em) {
  .addresses__bottom--list {
    font-size: 1.5rem;
    width: 50%;
  }
}
@media (min-width: 83em) {
  .addresses__bottom--list {
    font-size: 1.75rem;
  }
}
.addresses__bottom--city {
  color: #89a9b0;
  list-style-type: none;
}

.contactos {
  background-color: #145364;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 2rem 0 3rem 0;
}
.contactos__wrapper {
  max-width: 73.563rem;
  width: 45%;
}
.contactos__wrapper--title {
  text-align: center;
  padding-bottom: 1.5rem;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: -0.01em;
}
@media (min-width: 43.75em) {
  .contactos__wrapper--title {
    font-size: 2rem;
  }
}
@media (min-width: 62em) {
  .contactos__wrapper--title {
    padding: 2rem;
  }
}
.contactos__wrapper--icons {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}
.contactos__wrapper--icons-img {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

html {
  box-sizing: border-box;
}
html html {
  font-family: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}/*# sourceMappingURL=styles.css.map */